<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="com.pengsheng.game">
    <application
        android:label="flutterad_example"
        android:name="com.pengsheng.flutterad.DemoApplication"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        tools:replace="android:name,android:allowBackup,android:appComponentFactory">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.pengsheng.flutterad.activity.DrawNativeVideoActivity"/>
        <activity android:name="com.pengsheng.flutterad.activity.DrawNativeExpressVideoActivity"/>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- admob start================== -->
        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:authorities="${applicationId}.mobileadsinitprovider"
            tools:replace="android:authorities" />

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
        <!--This meta-data tag is required to use Google Play Services.-->
        <!-- admob end================== -->

        <!-- baidu start================== -->
        <!-- 声明打开落地页的Activity（不建议修改主题配置）-->
<!--        <activity-->
<!--            android:name="com.baidu.mobads.sdk.api.AppActivity"-->
<!--            android:configChanges="screenSize|keyboard|keyboardHidden|orientation"-->
<!--            android:theme="@android:style/Theme.NoTitleBar" />-->
        <!-- 声明打开显示激励视频/全屏视频的Activity-->
<!--        <activity-->
<!--            android:name="com.baidu.mobads.sdk.api.MobRewardVideoActivity"-->
<!--            android:configChanges="screenSize|orientation|keyboardHidden"-->
<!--            android:launchMode="singleTask"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <!-- 如果targetSdkVersion设置值>=24，则强烈建议添加以下provider，否则会影响app变现 -->
        <!-- android:authorities="${packageName}.bd.provider" authorities中${packageName}部分必须替换成app自己的包名 -->
        <!-- 原来的FileProvider在新版本中改为BdFileProvider,继承自v4的FileProvider,需要在应用内引用support-v4包 -->
<!--        <provider-->
<!--            android:name="com.baidu.mobads.sdk.api.BdFileProvider"-->
<!--            android:authorities="${applicationId}.bd.provider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/bd_file_paths" />-->
<!--        </provider>-->
        <!-- baidu end================== -->

        <!-- GDT start================== -->
        <!-- targetSDKVersion >= 24时才需要添加这个provider。provider的authorities属性的值为${applicationId}.fileprovider，请开发者根据自己的${applicationId}来设置这个值，例如本例中applicationId为"com.qq.e.union.demo"。 -->
<!--        <provider-->
<!--            android:name="com.qq.e.comm.GDTFileProvider"-->
<!--            android:authorities="${applicationId}.gdt.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/gdt_file_path" />-->
<!--        </provider>-->

    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility?hl=en and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
